#about {
    height: 100%;
    width: 100%;
    top: 100%;
    left: 0%;
    position: absolute;
}

#carousel {
    opacity: 0;
}

#about-inner {
    position: absolute;
    height: 0%;
    background: white;
    width: 100%;
    top: 0%;
    /* left: 100%; */
    z-index: 3;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 63%, rgba(255, 255, 255, 0.7992384453781513) 76%, rgba(255, 255, 255, 0) 99%);
    z-index: 3;
}

.about-text {
    z-index: 3;
    position: absolute;
    height: 200px;
    width: 100%;
    top: 22%;
    padding-left: 5%;
    padding-top: 1%;
    #header-greek {
        background-image: url("../../assets/images/letters/ISTORIA.png");
        position: relative;
        background-size: cover;
        /* top: -27%; */
        text-align: center;
        height: 2.4vw;
        margin: auto;
        float: center;
        width: 20vw;
    }
    h2 {
        font-family: "FuturaReal";
    }
    #about-description {
        font-size: 1.5vw;
        width: 90%;
        line-height: 120%;
        padding-top: 0%;
        position: absolute;
        //padding-left: 30%;
        color: var(--main-color-2);
        font-family: "FuturaLight";
    }
}
