#about {
    background-image: url("../../assets/images/gallery/3.jpg");
    position: absolute;
    background-size: cover;
    height: 800px;
    width: 100%;
    z-index: 3;
    filter: brightness(30%);
}

.about-text {
    z-index: 3;
    position: absolute;
    height: 200px;
    width: 90%;
    padding-left: 5%;
    padding-top: 200px;
    #about-description {
        font-size: 30px;
        color: var(--main-color-1);
        font-family: "FuturaLight";
    }
}