<div id="about">

    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" [isControls]="false">
        <mdb-carousel-item>
            <img class="d-block w-100" src="../../assets/images/background/3.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img class="d-block w-100" src="../../assets/images/background/6.jpg" alt="Third slide">
        </mdb-carousel-item>

        <mdb-carousel-item>
            <img class="d-block w-100" src="../../assets/images/background/7.jpg" alt="Third slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img class="d-block w-100" src="../../assets/images/background/8.jpg" alt="Third slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img class="d-block w-100" src="../../assets/images/background/9.jpg" alt="Third slide">
        </mdb-carousel-item>
    </mdb-carousel>
    <div id="about-inner">


        <div class="about-text">
            <div id="header-greek"></div>

            <h2>OUR STORY</h2>
            <div id="about-description">Established in 1992 a flower shop first of its kind in the area. We continue to provide for the customer’s needs with fresh and high quality blooms. More than 25 years of experience beautifying your special moments with flower design making
                events memorable. Let your dream days be realised through the most creative way!</div>
        </div>
    </div>
</div>