<div id="about">
    <div id="about-inner">

    </div>
    <div class="about-text">
        <h2>OUR STORY</h2>
        <div id="about-description">Established in 1992 a flower shop first of its kind in the area. We continue to provide for the customer’s needs with fresh and high quality blooms. More than 25 years of experience beautifying your special moments with flower design making events
            memorable. Let your dream days be realised through the most creative way!</div>
    </div>
</div>