#about {
    height: 100%;
    width: 100%;
    top: 0%;
    left: 100%;
    position: absolute;
}

#about-inner {
    position: absolute;
    height: 0%;
    background: white;
    width: 100%;
    top: 0%;
    /* left: 100%; */
    z-index: 3;
}

.about-text {
    z-index: 3;
    position: absolute;
    height: 200px;
    width: 90%;
    top: 0%;
    padding-left: 5%;
    padding-top: 2%;
    h2 {
        position: absolute;
        left: 3%;
    }
    #about-description {
        font-size: 30px;
        width: 100%;
        padding-top: 0%;
        position: absolute;
        padding-left: 30%;
        color: var(--main-color-2);
        font-family: "FuturaLight";
    }
}