<div id="contact">
    <div id="header-greek-contact"></div>
    <h2>CONTACT</h2>

    <div class="container">
        <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">

            <label id="fname-label">First Name</label>
            <div class="field">
                <input type="text" id="fname" formControlName="Fullname" name="Fullname" placeholder="First name">
            </div>
            <label id="lname-label" for="lname">E-mail</label>
            <div class="field">
                <input type="text" id="lname" name="Email" formControlName="Email" placeholder="E-mail">
            </div>



            <label id="message" for="subject">Message</label>
            <div class="field">
                <textarea id="subject" formControlName="Comment" name="Comment" placeholder="Type your request" style="height:200px"></textarea>
            </div>
            <input id="submit" type="submit" value="Submit" [disabled]="!FormData.valid">
            <div id="sent">Message sent.</div>
        </form>
    </div>
    <div id="contact-inner">


        <a href="tel:+306985763448"> <i class="fas fa-phone-alt" id="telephone"> <h3>2825051697<br>+306985763448</h3></i>
        </a>


        <a href="mailto:aapostolaki70@gmail.com"> <i class="far fa-envelope" id="email"><h3>aapostolaki70@gmail.com</h3></i></a>

        <a href="https://www.facebook.com/BonsaiFlowersVrises"> <i class="fab fa-facebook-f" id="facebook"><h3></h3></i></a>
        <a id="viber-img" href="viber://chat/?number=306985763448"><i class="fab fa-viber"></i></a>
        <a id="whatsapp-img" href="https://wa.me/306985763448"><i class="fab fa-whatsapp"> </i>
        </a>

    </div>
