<div id="contact">
    <div id="header-greek-contact"></div>
    <h2>CONTACT</h2>

    <div class="container">
        <form action="mailto:aapostolaki70@gmail.com" method="post" enctype="text/plain">
            <label id="fname-label">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="First name">

            <label id="lname-label" for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Last name">



            <label id="message" for="subject">Message</label>
            <textarea id="subject" name="subject" placeholder="Type your request" style="height:200px"></textarea>

            <input id="submit" type="submit" value="Submit">
        </form>
    </div>
    <div id="contact-inner">

        <a id="viber-img" href="viber://chat/?number=306985763448"><i class="fab fa-viber"></i></a>
        <a id="whatsapp-img" href="https://wa.me/306985763448"><i class="fab fa-whatsapp"></i></a>
        <a> <i class="fas fa-phone-alt" id="telephone"> <h3>2825051697<br>+306985763448</h3></i></a>


        <a href="mailto:aapostolaki70@gmail.com"> <i class="far fa-envelope" id="email"><h3>aapostolaki70@gmail.com</h3></i></a>

        <a href="https://www.facebook.com/BonsaiFlowersVrises"> <i class="fab fa-facebook-f" id="facebook"><h3>@BonsaiFlowersVrises</h3></i></a>



    </div>