        #contact {
            background-color: white;
            width: 100%;
            display: none;
            position: absolute;
            top: 0%;
            height: 100%;
            padding-left: 5%;
            left: 100%;
            border-left: 2px solid white;
            color: white;
            font-family: "FuturaLight";
            #design {
                font-size: 1vw;
                bottom: 1%;
                position: absolute;
                margin-left: 2%;
            }
            #sent {
                color: #5f6464;
                /* width: 10%; */
                /* height: 10%; */
                padding-left: 3%;
                display: inline;
                position: relative;
                index: 7;
                opacity: 0;
            }
            a {
                outline: none;
                color: #FFFFFF;
                text-decoration: none;
                text-decoration: none;
            }
            a:hover {
                color: var(--main-color-1);
            }
            #header-greek-contact {
                background-image: url("../../assets/images/letters/EPIKOINONIA.png");
                position: relative;
                background-size: cover;
                /* top: -27%; */
                top: 1%;
                text-align: center;
                height: 2vw;
                margin: auto;
                float: center;
                width: 16vw;
            }
            h2 {
                color: var(--main-color-1);
                //padding-left: 5%;
                // color: #2b4036;
                //  padding-left: 5%;
                //padding-top: 2%;
                padding-top: 0.5vh;
                z-index: 6;
                //  left: 0%;
                //   position: absolute;
            }
            input[type=text],
            select,
            textarea {
                color: #000;
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                margin-top: -4px;
                margin-bottom: 23px;
                resize: vertical;
                outline: none;
            }
            input[type=submit] {
                background-color: var(--main-color-3);
                color: white;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
            input[type=submit]:hover {
                background-color: #77627c;
                transition: 2s;
            }
            label {
                color: #77627c;
                font-family: "Futura";
            }
            .container {
                border-radius: 5px;
                font-size: 1.3vw;
                left: 10%;
                width: 42%;
                position: absolute;
                top: 20%;
                background-color: #fff;
                padding: 20px;
            }
            #contact-inner {
                background-color: #bdaac0;
                width: 100%;
                position: absolute;
                top: 0%;
                left: 70%;
                height: 100%;
                color: white;
                h3 {
                    font-family: "FuturaLight";
                    color: white;
                    font-size: 1.5vw;
                    margin-left: 33%;
                    margin-top: -22%;
                    text-decoration: none;
                }
                #viber-img {
                    background-position: center;
                    /* display: inline-block; */
                    /* position: relative; */
                    font-size: 2vw;
                    margin-top: 0%;
                    font-size: 3vw;
                    /* text-align: center; */
                    margin-left: 2%;
                    text-decoration: none;
                }
                #whatsapp-img {
                    background-position: center;
                    display: inline-block;
                    font-size: 2vw;
                    margin-top: 0%;
                    font-size: 3vw;
                    margin-left: 2%;
                    text-decoration: none;
                    display: inline;
                }
                #telephone {
                    width: 12%;
                    height: 10%;
                    font-size: 3vw;
                    margin-left: 2%;
                    margin-top: 31vh;
                    text-decoration: none;
                    #telephone-img {
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 3vw;
                        height: 6vh;
                        transform: rotate(-140deg);
                    }
                }
                #email {
                    width: 12%;
                    height: 10%;
                    margin-left: 2%;
                    font-size: 3vw;
                    margin-top: 1%;
                    text-decoration: none;
                    display: block;
                    #email-img {
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 3vw;
                        height: 5vh;
                    }
                }
                #facebook {
                    margin: auto;
                    margin-top: 1%;
                    text-align: left;
                    font-size: 3vw;
                    margin-left: 2%;
                    text-decoration: none;
                    #facebook-img {
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 3vw;
                        height: 5vh;
                    }
                }
            }
        }
        
        @media screen and (max-width:481px) {
            #contact #header-greek-contact {
                height: 6.5vw;
                width: 51vw;
            }
            h3 {
                display: none;
            }
            h2 {
                font-size: 11vw;
            }
            #contact #contact-inner {
                left: 86%;
            }
            #contact #contact-inner #telephone {
                font-size: 9vw;
                margin-top: 23vh;
            }
            #contact #contact-inner #email {
                font-size: 9vw;
            }
            #contact #contact-inner #facebook {
                font-size: 9vw;
            }
            #contact #contact-inner #viber-img {
                margin-top: 8%;
                font-size: 9vw;
                display: block;
            }
            #contact #contact-inner #whatsapp-img {
                margin-top: 8%;
                font-size: 9vw;
                display: block;
            }
            #contact .container {
                font-size: 3vw;
                width: 71%;
            }
        }