        #contact {
            background-color: white;
            width: 100%;
            display: none;
            position: absolute;
            top: 0%;
            height: 100%;
            padding-left: 5%;
            left: 100%;
            border-left: 2px solid white;
            color: white;
            font-family: "FuturaLight";
            a {
                outline: none;
                color: #FFFFFF;
                text-decoration: none;
                text-decoration: none;
            }
            a:hover {
                color: var(--main-color-1);
            }
            #header-greek-contact {
                background-image: url("../../assets/images/letters/EPIKOINONIA.png");
                position: relative;
                background-size: cover;
                /* top: -27%; */
                top: 1%;
                text-align: center;
                height: 2.2vw;
                margin: auto;
                float: center;
                width: 17vw;
            }
            h2 {
                color: var(--main-color-1);
                //padding-left: 5%;
                // color: #2b4036;
                //  padding-left: 5%;
                //padding-top: 2%;
                padding-top: 0.4%;
                z-index: 6;
                //  left: 0%;
                //   position: absolute;
            }
            input[type=text],
            select,
            textarea {
                color: #000;
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                margin-top: -4px;
                margin-bottom: 23px;
                resize: vertical;
                outline: none;
            }
            input[type=submit] {
                background-color: var(--main-color-3);
                color: white;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
            input[type=submit]:hover {
                background-color: #77627c;
                transition: 2s;
            }
            label {
                color: #77627c;
                font-family: "Futura";
            }
            .container {
                border-radius: 5px;
                font-size: 1.3vw;
                left: 10%;
                width: 42%;
                position: absolute;
                top: 20%;
                background-color: #fff;
                padding: 20px;
            }
            #contact-inner {
                background-color: #bdaac0;
                width: 100%;
                position: absolute;
                top: 0%;
                left: 70%;
                height: 100%;
                color: white;
                h3 {
                    font-family: "FuturaLight";
                    color: white;
                    font-size: 1.5vw;
                    margin-left: 33%;
                    margin-top: -22%;
                    text-decoration: none;
                }
                #viber-img {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: absolute;
                    /* left: 20.5%; */
                    margin-top: 17.5%;
                    left: 18%;
                }
                #whatsapp-img {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: absolute;
                    margin-top: 17.5%;
                    left: 20%;
                }
                #telephone {
                    width: 10%;
                    height: 10%;
                    font-size: 2vw;
                    margin-left: 2%;
                    margin-top: 16%;
                    text-decoration: none;
                    display: block;
                    #telephone-img {
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 3vw;
                        height: 6vh;
                        transform: rotate(-140deg);
                    }
                }
                #email {
                    width: 10%;
                    height: 10%;
                    margin-left: 2%;
                    font-size: 2vw;
                    margin-top: 1%;
                    text-decoration: none;
                    display: block;
                    #email-img {
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 3vw;
                        height: 5vh;
                    }
                }
                #facebook {
                    width: 10%;
                    height: 10%;
                    margin-top: 1%;
                    font-size: 2vw;
                    margin-left: 2%;
                    text-decoration: none;
                    display: block;
                    #facebook-img {
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 3vw;
                        height: 5vh;
                    }
                }
            }
        }
