<div id="contact">
    <h2>CONTACT</h2>

    <div class="container">
        <form action="mailto:aapostolaki70@gmail.com" method="post" enctype="text/plain">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="First name">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Last name">



            <label for="subject">Message</label>
            <textarea id="subject" name="subject" placeholder="Type your request" style="height:200px"></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>
    <div id="contact-inner">


        <i class="fas fa-phone-alt" id="telephone"> <h3>2825051697<br>+306985763448</h3></i>


        <i class="far fa-envelope" id="email" href="mailto:aapostolaki70@gmail.com"><h3>aapostolaki70@gmail.com</h3></i>

        <i class="fab fa-facebook-f" id="facebook" href="https://www.facebook.com/BonsaiFlowersVrises"><h3>@BonsaiFlowersVrises</h3></i>



    </div>
