<div class="work">
    <h2>OUR WORK</h2>
    <ul>
        <li>
            <img src="../../assets/images/gallery/1.jpg" loading="lazy">
        </li>
        <li>
            <img src="../../assets/images/gallery/2.jpg" loading="lazy">
        </li>
        <li>
            <img src="../../assets/images/gallery/3.jpg" loading="lazy">
        </li>
        <li>
            <img src="../../assets/images/gallery/4.jpg" loading="lazy">
        </li>
        <li>
            <img src="../../assets/images/gallery/5.jpg" loading="lazy">
        </li>
        <li>
            <img src="../../assets/images/gallery/6.jpg" loading="lazy">
        </li>

    </ul>
    <div id="work-arrow"></div>
</div>