select:active,
select:focus,
select:hover {
    outline: none;
}

select {
    // width: 100%;
    outline: none;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
}

#work {
    height: 100%;
    overflow-y: hidden;
    padding-top: 2%;
    width: 100%;
    position: absolute;
    top: 100%;
    #work-filter {
        margin-top: -90px;
        float: right;
        margin-right: 10%;
        display: inline;
        #work-filter-list {
            display: block;
            display: inline;
            border: 1px solid var(--main-color-2);
            padding: 10px;
            border-radius: 20px;
            top: 5%;
            font-family: "FuturaLight";
            font-size: 20px;
            position: absolute;
            select-arrow {
                display: none;
            }
            #work-list-1 {
                height: 100%;
                display: block;
            }
            #work-list-2 {
                height: 100%;
                // display: none;
            }
            #work-list-3 {
                height: 100%;
                // display: none;
            }
        }
    }
    #button-arrow {
        border: solid var(--main-color-2);
        border-width: 0 10px 10px 0;
        display: inline-block;
        //margin-left: 48%;
        padding: 16px;
        margin-left: 6px;
        margin-right: 7px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    #work-arrow-right {
        border: solid #ffffff;
        border-width: 0 18px 18px 0;
        display: inline-block;
        margin-top: 20%;
        margin-left: 94%;
        position: absolute;
        padding: 25px;
        transform: rotate(45deg);
        -webkit-transform: rotate(-45deg);
        -webkit-filter: drop-shadow(80px 10px 100px var(--main-color-1));
        filter: drop-shadow(0px 0px 30px);
    }
    #work-arrow-left {
        border: solid #ffffff;
        border-width: 0 18px 18px 0;
        display: inline-block;
        margin-top: 20%;
        margin-left: 4%;
        position: absolute;
        padding: 25px;
        transform: rotate(-222deg);
        -webkit-transform: rotate(-222deg);
        -webkit-filter: drop-shadow(80px 10px 100px var(--main-color-1));
        filter: drop-shadow(0px 0px 30px);
    }
    h2 {
        color: var(--main-color-2);
        padding-left: 5%;
    }
    .img-grid {
        height: 100vh;
        /* left: 10vw; */
        //width: 100%;
        top: 0%;
        /* padding: 0%; */
        /* overflow: scroll; */
        position: absolute;
        z-index: 4;
        /* top: 0%; */
        -webkit-filter: drop-shadow(80px 10px 100px black);
        filter: drop-shadow(80px 10px 100px black);
    }
    #img-prime {
        opacity: 0%;
        position: absolute;
        text-align: center;
        top: 0%;
        z-index: 1;
        height: 100%;
        display: block;
        margin: auto;
    }
    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0%;
        z-index: 4;
        top: 12%;
        position: absolute;
    }
    li {
        height: 40vh;
        flex-grow: 1;
    }
    li:last-child {
        // There's no science in using "10" here. In all my testing, this delivered the best results.
        flex-grow: 10;
    }
    img {
        max-height: 100%;
        min-width: 100%;
        object-fit: cover;
        vertical-align: bottom;
    }
    // ADVANCED
    // Portrait
    @media (max-aspect-ratio: 1/1) {
        li {
            height: 30vh;
        }
    }
    // Short screens
    @media (max-height: 480px) {
        li {
            height: 80vh;
        }
    }
    // Smaller screens in portrait
    @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
        ul {
            flex-direction: row;
        }
        li {
            height: auto;
            width: 100%;
        }
        img {
            width: 100%;
            max-height: 75vh;
            min-width: 0;
        }
    }
}