<div class="work">
    <h2>OUR WORK</h2>
    <ul>
        <li id="img-1" (mouseup)="zoom('1')" (mousedown)="unzoom('1')">
            <img src="../../assets/images/gallery/1.jpg" loading="lazy">
        </li>
        <li id="img-2" (mouseup)="zoom('2')" (mousedown)="unzoom('2')">
            <img src="../../assets/images/gallery/2.jpg" loading="lazy">
        </li>
        <li id="img-3" (mouseup)="zoom('3')" (mousedown)="unzoom('3')">
            <img src="../../assets/images/gallery/3.jpg" loading="lazy">
        </li>
        <li id="img-4" (mouseup)="zoom('4')" (mousedown)="unzoom('4')">
            <img src="../../assets/images/gallery/4.jpg" loading="lazy">
        </li>
        <li id="img-5" (mouseup)="zoom('5')" (mousedown)="unzoom('5')">
            <img src="../../assets/images/gallery/5.jpg" loading="lazy">
        </li>
        <li id="img-6" (mouseup)="zoom('6')" (mousedown)="unzoom('6')">
            <img src="../../assets/images/gallery/6.jpg" loading="lazy">
        </li>

    </ul>
    <div id="work-arrow"></div>
</div>