<div id="work">
    <div id="header-greek-work"></div>
    <h2>CREATIONS</h2>
    <div id="work-filter">
        <a id="work-list-1" class="work-list" (click)="filter('All')" value="All">All</a>
        <a id="work-list-2" class="work-list" (click)="filter('Wedding')" value="Wedding">Wedding</a>
        <a id="work-list-3" class="work-list" (click)="filter('Baptism')" value="Baptism">Baptism</a>
        <a id="work-list-4" class="work-list" (click)="filter('Bouquet')" value="Bouquet">Bouquet</a>
        <a id="work-list-5" class="work-list" (click)="filter('Church')" value="Church">Church Icons</a>
        <a id="work-list-6" class="work-list" (click)="filter('Memorial')" value="Memorial">Memorial</a>
    </div>
    <!--<img id="img-prime" src="../../assets/images/gallery/1.jpg" loading="lazy">-->
    <ul>
        <li id="img-1" (click)="zoom('1')">
            <img class="img-src" id="img-src-1" src="../../assets/images/gallery/1.jpg" loading="lazy">
        </li>
        <li id="img-2" (click)="zoom('2')">
            <img class="img-src" id="img-src-2" src="../../assets/images/gallery/2.jpg" loading="lazy">
        </li>
        <li id="img-3" (click)="zoom('3')">
            <img class="img-src" id="img-src-3" src="../../assets/images/gallery/3.jpg" loading="lazy">
        </li>
        <a id="work-arrow-right" (click)="changeImagesNext()"></a>
        <a id="work-arrow-left" (click)="changeImagesPrev()"></a>

        <li id="img-4" (click)="zoom('4')">
            <img class="img-src" id="img-src-4" src="../../assets/images/gallery/4.jpg" loading="lazy">
        </li>
        <li id="img-5" (click)="zoom('5')">
            <img class="img-src" id="img-src-5" src="../../assets/images/gallery/5.jpg" loading="lazy">
        </li>
        <li id="img-6" (click)="zoom('6')">
            <img class="img-src" id="img-src-6" src="../../assets/images/gallery/6.jpg" loading="lazy">
        </li>

    </ul>
</div>
<div id="carousel">
    <a id="next-button" (click)="next()"></a>
    <a id="previous-button" (click)="prev()"></a>

    <a id="exit-button" (click)="zoom('1')"></a>
    <img id="img-slide" src="../../assets/images/gallery/1.jpg" alt="First slide">

</div>