<div id="main">


    <a id="main-logo" (click)="changePage(1)">
    </a>
    <div id="main-menu">
        <ul>
            <a>
                <li (mouseenter)="cross('0')" (mouseleave)="crossout('0')" (click)="changePage(1)" id="main-menu-li-0">
                    Home
                    <div class="main-menu-line" id="main-menu-line-0"></div>
                </li>
            </a>
            <a>
                <li (mouseenter)="cross('1')" (mouseleave)="crossout('1')" (click)="changePage(2)" id="main-menu-li-1">
                    Our Story
                    <div class="main-menu-line" id="main-menu-line-1"></div>
                </li>
            </a>
            <a>

                <li (mouseenter)="cross('2')" (mouseleave)="crossout('2')" (click)="changePage(3)" id="main-menu-li-2">
                    Creations
                    <div class="main-menu-line" id="main-menu-line-2"></div>
                </li>
            </a>
            <a>

                <li (mouseenter)="cross('3')" (mouseleave)="crossout('3')" (click)="changePage(4)" id="main-menu-li-3">
                    Location
                    <div class="main-menu-line" id="main-menu-line-3"></div>
                </li>
            </a>
            <a>

                <li (mouseenter)="cross('4')" (mouseleave)="crossout('4')" (click)="changePage(5)" id="main-menu-li-4">
                    Contact
                    <div class="main-menu-line" id="main-menu-line-4"></div>
                </li>
            </a>
        </ul>

    </div>
    <a id="language" (click)="changeLng()">
        EL

    </a>
    <div id="main-inner">
        <div id="main-backgound-image">
            <div id="main-backgound-image-1" (load)="moveBonsai()"></div>
            <div id="main-backgound-image-2"></div>
            <div id="main-backgound-image-3"></div>
        </div>
        <div id="main-header">
            <h1>BONSAI</h1>
            <h4>Bonsai is a local flower shop in Vryses Apokoronou. Since 1992 we continue to provide fresh and creative flower designs!</h4>
            <h5>ESTD<br> 1992</h5>
        </div>

    </div>
</div>
<!--<div id="arrow-up"></div>-->