#main {
    color: var(--main-color-1);
    height: 100%;
    #language {
        top: 4%;
        font-size: 25px;
        position: absolute;
        right: 3%;
        z-index: 5;
        color: #9fbbbd;
        border: 2px solid #9fbbbd;
        filter: drop-shadow(0px 0px 30px #000);
        padding: 6px;
        border-radius: 4px;
    }
    #language:hover {
        color: var(--main-color-2);
        border-color: var(--main-color-2);
    }
    #main-backgound-image {
        #main-backgound-image-1 {
            background-image: url("../../assets/images/background/bonsai.png");
            position: absolute;
            background-size: cover;
            height: 70%;
            width: 70%;
            z-index: 2;
            left: -14%;
            bottom: -1000px;
            //height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        #main-backgound-image-2 {
            background-image: url("../../assets/images/background/japanese.png");
            position: absolute;
            background-size: cover;
            opacity: 0.5;
            height: 1000px;
            left: 0%;
            width: 1000px;
            z-index: 2;
        }
        #main-backgound-image-3 {
            background-image: url("../../assets/images/background/japanese.png");
            position: absolute;
            opacity: 0.5;
            background-size: cover;
            height: 1000px;
            left: 51%;
            width: 1000px;
            z-index: 2;
        }
    }
    #main-header {
        h1 {
            font-size: 19vw;
            font-family: "FuturaReal";
            position: absolute;
            height: 25px;
            font-weight: 800;
            top: -400px;
            left: 17%;
            letter-spacing: -14px;
            z-index: 1;
        }
        h4 {
            color: #14221b;
            font-family: "FuturaLight";
            position: absolute;
            top: 68%;
            left: 40%;
            display: inline;
            width: 38%;
            font-size: 25px;
        }
        h5 {
            color: #14221b;
            font-family: "Futura";
            position: absolute;
            top: 48%;
            border-top: 3px solid #14221b;
            border-bottom: 3px solid #14221b;
            left: 13%;
            display: inline;
            font-size: 25px;
            line-height: 106%;
        }
        //background-image: url("../../assets/images/background/header.png");
        //background-size: cover;
    }
    #main-logo {
        background-image: url("../../assets/images/background/logo.png");
        position: absolute;
        background-size: cover;
        height: 110px;
        left: 30px;
        top: 10px;
        width: 40px;
        z-index: 4;
        position: fixed;
        filter: drop-shadow(80px 10px 100px var(--main-color-1));
    }
    #main-menu ul {
        //bottom: 0%;
        font-size: 25px;
        left: 31%;
        bottom: -3%;
        position: absolute;
        //height: 100%;
        text-shadow: 2px 1px 50px #ffffff;
        transition: 0.5s ease;
        z-index: 4;
        filter: drop-shadow(80px 10px 100px var(--main-color-1));
        //background: rgba(255, 255, 255, 0.589);
        // border-radius: 30%;
    }
    #main-menu li {
        font-family: "FuturaLight";
        font-size: 25px;
        list-style-type: none;
        color: var(--main-color-2);
        position: relative;
        padding-right: 81px;
        text-align: right;
        float: left;
        z-index: 3;
        display: block;
        // transition: 0.5s ease;
        #main-menu-line-0 {
            //display: none;
            background: #9fbbbd;
            filter: drop-shadow(8px 10px 10px #ffffff);
            height: 40px;
            width: 4px;
            margin-left: 50%;
            z-index: 3;
            /* margin-left: -50px; */
            margin-top: 0px;
            opacity: 0;
        }
        #main-menu-line-1 {
            //display: none;
            background: #9fbbbd;
            filter: drop-shadow(8px 10px 10px #ffffff);
            height: 40px;
            width: 4px;
            margin-left: 50%;
            z-index: 3;
            /* margin-left: -50px; */
            margin-top: 0px;
            opacity: 0;
        }
        #main-menu-line-2 {
            //display: none;
            background: #9fbbbd;
            filter: drop-shadow(8px 10px 10px #ffffff);
            height: 40px;
            width: 4px;
            margin-left: 50%;
            z-index: 3;
            /* margin-left: -50px; */
            margin-top: 0px;
            opacity: 0;
        }
        #main-menu-line-3 {
            //display: none;
            background: #9fbbbd;
            filter: drop-shadow(8px 10px 10px #ffffff);
            height: 40px;
            width: 4px;
            margin-left: 50%;
            z-index: 3;
            /* margin-left: -50px; */
            margin-top: 0px;
            opacity: 0;
        }
        #main-menu-line-4 {
            //display: none;
            background: #9fbbbd;
            filter: drop-shadow(8px 10px 10px #ffffff);
            height: 40px;
            width: 4px;
            margin-left: 50%;
            z-index: 3;
            /* margin-left: -50px; */
            margin-top: 0px;
            opacity: 0;
        }
    }
}

#arrow-up {
    border: solid #ffffff;
    border-width: 0px 13px 13px 0;
    display: inline-block;
    right: 4%;
    position: -webkit-sticky;
    position: fixed;
    padding: 15px;
    transform: rotate(-135deg);
    z-index: 5;
    -webkit-transform: rotate(-135deg);
    -webkit-filter: drop-shadow(80px 10px 100px var(--main-color-1));
    filter: drop-shadow(0px 0px 30px);
    transition: all .2s ease-in-out;
}