<div class="main">


    <div id="main-logo">
    </div>
    <div id="main-menu">
        <ul>
            <a href="#about" data-scroll>
                <li (mouseenter)="cross('1')" (mouseleave)="crossout('1')" id="main-menu-li-1">
                    The Flower Shop
                    <div class="main-menu-line" id="main-menu-line-1"></div>
                </li>
            </a>
            <a href="#work" data-scroll>

                <li (mouseenter)="cross('2')" (mouseleave)="crossout('2')" id="main-menu-li-2">
                    Work
                    <div class="main-menu-line" id="main-menu-line-2"></div>
                </li>
            </a>
            <a href="#map" data-scroll>

                <li (mouseenter)="cross('3')" (mouseleave)="crossout('3')" id="main-menu-li-3">
                    Location
                    <div class="main-menu-line" id="main-menu-line-3"></div>
                </li>
            </a>
            <a href="#contact" data-scroll>

                <li (mouseenter)="cross('4')" (mouseleave)="crossout('4')" id="main-menu-li-4">
                    Contact
                    <div class="main-menu-line" id="main-menu-line-4"></div>
                </li>
            </a>
        </ul>

    </div>
    <div id="main-backgound-image">
        <div id="main-backgound-image-1"></div>
        <div id="main-backgound-image-2"></div>
        <div id="main-backgound-image-3"></div>
    </div>
    <div id="main-header">
        <h1>BONSAI</h1>
    </div>


</div>